<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    
    <context:component-scan base-package="com.nacol.TheRoadToGeek" />

<!--    <bean id = "gatewayFilter_01" class="com.nacol.TheRoadToGeek.week_05.aspect.GateWaybilFilterAspect"/>-->
<!--    <bean id = "clientHelper_01" class="com.nacol.TheRoadToGeek.common.http.client.ClientHelperPlus"/>-->


    
</beans>